*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
}

.result {
  justify-content: start;
}

.content__list,
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
  padding-right: 3px;
}

.content__details {
  flex-grow: 1;
}

.content__list-item {
  justify-content: end;
  padding-left: 3px;
  padding-right: 3px;
}

.search-form {
  display: flex;
  align-items: end;
  gap: 39px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  display: flex;
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 15px;
}

.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  width: 196px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 4px;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link:active {
 background-color: #545050;
}

.content__card-link:hover {
text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 196px;
  margin-bottom: 2px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 16px;
  display: -webkit-box;
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__fieldset-input {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  margin-bottom: 6px;
  gap: 16px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  outline: none;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  height: 27px;
  width: 225px;
  gap: 5px;
  appearance: none;
  color: #fff;
}

.search-form__textfield::placeholder {
  position: relative;
  left: -2px;
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button  {
  border: 1px solid #fff;
  font-family:'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 7px;
  width: 100%;
  height: fit-content;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-within {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}